# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build / output
dist/
build/
*.tgz

# Coverage output
coverage/
frontend/coverage
backend/coverage
hardwareSimulation/coverage
